In [ ]:
import pandas as pd

# 读取文件
df = pd.read_csv("Traffic_Collision_Data_from_2010_to_Present_20251125.csv")

# 解析日期列（注意 Occurred）
df["Date Occurred"] = pd.to_datetime(df["Date Occurred"], format="%m/%d/%Y", errors="coerce")

# 提取年份
df["Year"] = df["Date Occurred"].dt.year

# 筛选年份 >= 2021
filtered_df = df[df["Year"] >= 2021]

# 显示前几行
display(filtered_df.head())

# 保存筛选后的文件
output_name = "Traffic_Collision_Data_2021_and_after.csv"
filtered_df.to_csv(output_name, index=False)


new_df = pd.read_csv("Traffic_Collision_Data_2021_and_after.csv")
print(new_df["Year"])

# 打印行数
print("筛选后共有行数:", len(filtered_df))
print("已保存为:", output_name)

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,Victim Age,Victim Sex,Victim Descent,Premise Code,Premise Description,Address,Cross Street,Location,Year
0,212013850,09/03/2021,2021-09-02,2335,20,Olympic,2021,997,TRAFFIC COLLISION,3004 3027 3034 4027 3036 3101 3401 3701,25.0,F,W,101.0,STREET,WILTON PL,6TH ST,"(34.063, -118.3141)",2021
1,221417787,10/17/2022,2022-10-17,1620,14,Pacific,1406,997,TRAFFIC COLLISION,4027 3011 3028 3034 3037 3101 3401 3701,21.0,NaN,NaN,101.0,STREET,NATIONAL BL,MOTOR AV,"(34.029, -118.4113)",2022
2,221418141,10/26/2022,2022-10-26,1135,14,Pacific,1434,997,TRAFFIC COLLISION,4027 3011 3025 3034 3037 3101 3401 3701,21.0,NaN,NaN,101.0,STREET,PALMS BL,ROSEWOOD AV,"(34.0052, -118.4478)",2022
3,222017859,12/01/2022,2022-12-01,230,20,Olympic,2044,997,TRAFFIC COLLISION,3003 0913 3026 3035 3037 3101 3401 3701 4020,33.0,M,H,101.0,STREET,IROLO ST,SAN MARINO ST,"(34.0545, -118.3009)",2022
25,222018070,12/07/2022,2022-12-06,1755,20,Olympic,2062,997,TRAFFIC COLLISION,3004 3026 3034 3036 3101 3401 3701 4020,77.0,M,W,101.0,STREET,OLYMPIC BL,GRAMERCY PL,"(34.0526, -118.3134)",2022

TypeError: 'numpy.dtypes.Int64DType' object is not callable